{% set metaTitle = title ? title ~ " | " ~ global.siteName : global.siteName %}

<title>{{ metaTitle }}</title>
<meta name="description" content="{{ description ?? global.description }}">
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ metaTitle }}" />
<meta property="og:url" content="{{ global.productionUrl }}{{ page.url }}" />
<meta property="og:site_name" content="{{ global.siteName }}" />
<meta property="og:locale" content="en_US" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ metaTitle }}" />
<link href="{{ global.productionUrl }}" rel="home" />
<link href="{{ global.productionUrl }}{{ page.url }}" rel="canonical" />
