{% set metaTitle = title ? title ~ " | " ~ global.siteName : global.siteName %}

<title>{{ metaTitle }}</title>
<meta name="description" content="{{ description ?? global.description }}">
<meta name="robots" content="{{ robots ?? 'all' }}">

{# OG #}
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ metaTitle }}" />
<meta property="og:url" content="{{ global.productionUrl }}{{ page.url }}" />
<meta property="og:site_name" content="{{ global.siteName }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="{{ global.productionUrl }}/images/og.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

{# Twitter #}
<meta name="twitter:title" content="{{ metaTitle }}">
<meta name="twitter:description" content="{{ description ?? global.description }}">
<meta name="twitter:image" content="{{ global.productionUrl }}/images/og.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:creator" content="@cakewalkdev">
<meta name="twitter:site" content="@cakewalkdev">
<meta name="twitter:image:alt" content="Cakewalk">

{# Canonicals #}
<link href="{{ global.productionUrl }}" rel="home" />
<link href="{{ global.productionUrl }}{{ page.url }}" rel="canonical" />

{# Favicons #}
<link rel="icon" type="image/png" href="/favicon-32x32.png">
<link rel="apple-touch-icon" href="/favicon-100x100.png">
