{% set us = [
	{
    name: 'Matt',
    url: 'https://mattwaler.com',
    image: 'https://0.gravatar.com/avatar/78b1ddba0375ac08914ce5fec89b33d78901d8105554b4fbd7a66f9e8e9b6e9f?size=180'
  },
	{
    name: 'Aaron',
    url: 'https://aaronmbushnell.com/',
    image: 'https://1.gravatar.com/avatar/25e592ada8d06f4018d32c81a8eb5fb3d5595344fe122a91564bebf867a630c1?size=180'
  },
] %}

{% set testimonials = [
	{
		name: 'Kristina Orzech',
		position: 'Digital Marketing Project Manager',
		image: '/images/kristina-orzech.jpg',
    url: 'https://www.linkedin.com/in/kristinaorzech/',
		quote: "Their willingness to jump into a project <strong>without hesitation, ask questions, and keep a positive outlook</strong> during the process is unmatchable when it comes to managing these sometimes complex digital projects."
	},
	{
		name: 'Ann Blessman',
		position: 'Producer',
		image: '/images/ann-blessman.jpg',
    url: 'https://www.linkedin.com/in/ann-blessman/',
		quote: "Matt and Aaron are two of the most talented individuals I’ve ever had the pleasure of working with. Their <strong>patience, dependability, and strategic thinking</strong> made even the most technically complex projects an absolute breeze."
	},
	{
		name: 'Tori Ritter',
		position: 'Senior Healthcare Marketing Specialist',
    url: 'https://www.linkedin.com/in/tori-ritter-047370b1/',
		image: '/images/tori-ritter.jpg',
		quote: "My testimonial is still in progress."
	},
	{
		name: 'Mariam Aziz',
		position: 'Senior Designer',
    url: 'https://www.linkedin.com/in/mariamdesignme/',
		image: '/images/mariam-aziz.jpg',
		quote: "Matt and Aaron always do a wonderful job bringing my websites to life. Their thought process is <strong>problem-solving and user experience first</strong>, which helps create dynamic products."
	},
] %}

<section class="spacer container">
	<div class="flex items-center justify-center mb-10">
		{% for row in us %}
			<a href="{{ row.url }}" target="_blank" class="relative group">
				<div class="
					absolute
					{{ loop.first ? 'top-0 left-0 -translate-x-[90%]' : 'bottom-0 right-0 translate-x-[70%]' }}
					bg-green rounded-full px-3 py-2
					font-bold text-sm text-navy
				">
					{{ row.name }}
				</div>
				<img
					height="88" width="88"
					loading="lazy"
					src="{{ row.image }}"
					alt="{{ row.name }}"
					class="transition-transform group-hover:-translate-y-2 border-4 border-white rounded-full size-24 {{ not loop.first ? '-translate-x-4' }}"
				>
			</a>
		{% endfor %}
	</div>

	<h2 class="h1 text-balance text-center dark:text-white">Who is Cakewalk?</h2>
	<h3 class="h3 highlighted text-center dark:text-white mt-3">
		Experts with <em>30+ years</em> of experience.
	</h3>

	<div class="pt-12 lg:pt-24">
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
			{% for testimonial in testimonials %}
				<div class="flex items-start gap-6">
					<a href="{{ testimonial.url }}" target="_blank" class="hover:-translate-y-2 transition-transform hidden sm:block">
            <img
              class="rounded-full"
              alt="{{ testimonial.name }}"
              src="{{ testimonial.image }}"
              width="80" height="80"
              loading="lazy"
            >
          </a>
					<div class="flex-1">
						<p class="text-lg text-gray-600 dark:text-gray-200 [&_strong]:text-gray-800 [&_strong]:font-semibold [&_strong]:dark:text-white">
							“{{ testimonial.quote }}”
						</p>
						<div class="mt-4 flex items-center sm:flex-col sm:items-start gap-4 dark:text-white">
							<img
								class="rounded-full size-16 sm:hidden"
								alt="{{ testimonial.name }}"
								src="{{ testimonial.image }}"
								width="80" height="80"
								loading="lazy"
							>
							<p class="flex flex-col gap-0.5">
								<span class="text-lg font-bold">{{ testimonial.name }}</span>
								<span class="text-sm text-gray-500 dark:text-gray-400">{{ testimonial.position }}</span>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
