{% set us = [
	{ name: 'Matt', image: 'https://0.gravatar.com/avatar/78b1ddba0375ac08914ce5fec89b33d78901d8105554b4fbd7a66f9e8e9b6e9f?size=180' },
	{ name: 'Aaron', image: 'https://1.gravatar.com/avatar/25e592ada8d06f4018d32c81a8eb5fb3d5595344fe122a91564bebf867a630c1?size=180' },
] %}

{% set testimonials = [
	{
		name: 'Kristina Orzech',
		position: 'Digital Marketing Project Manager',
		image: '/images/kristina-orzech.jpg',
		quote: "I’ve partnered with Aaron and Matt as a digital project manager for several years and they have always been wonderful to work with. Their willingness to jump into a project without hesitation, ask questions, and keep a positive outlook during the process is unmatchable when it comes to managing these sometimes complex digital projects. I would definitely recommend bringing your next project to them for discussion."
	},
	{
		name: 'Ann Blessman',
		position: 'Producer',
		image: '/images/ann-blessman.jpg',
		quote: "Matt and Aaron are two of the most talented individuals I’ve ever had the pleasure of working with. Their patience, dependability, and strategic thinking made even the most technically complex projects an absolute breeze. They’re beyond gifted at what they do, and every opportunity I’ve had to work with them has not only been beyond successful for the client, but educational for me as a colleague."
	},
	{
		name: 'Tori Ritter',
		position: 'Senior Healthcare Marketing Specialist',
		image: '/images/tori-ritter.jpg',
		quote: "My testimonial is still in progress."
	},
	{
		name: 'Mariam Aziz',
		position: 'Senior Designer',
		image: '/images/mariam-aziz.jpg',
		quote: "Matt and Aaron always do a wonderful job bringing my websites to life. It's a straightforward and stress-free process from design to development with great attention to detail. They make sure everything is responsive and functions without errors. Their thought process is problem-solving and user experience first, which helps create dynamic products."
	},
] %}

<section class="spacer container">
	<div class="flex items-center justify-center mb-10">
		{% for row in us %}
			<div class="relative">
				<div class="
					absolute
					{{ loop.first ? 'top-0 left-0 -translate-x-[90%]' : 'bottom-0 right-0 translate-x-[70%]' }}
					bg-green rounded-full px-3 py-2
					font-bold text-sm text-navy
				">
					{{ row.name }}
				</div>
				<img
					height="88" width="88"
					loading="lazy"
					src="{{ row.image }}"
					alt="{{ row.name }}"
					class="border-4 border-white rounded-full size-24 {{ not loop.first ? '-translate-x-4' }}"
				>
			</div>
		{% endfor %}
	</div>

	<h2 class="h1 text-balance text-center dark:text-white">Who is Cakewalk?</h2>
	<h3 class="h3 highlighted text-center dark:text-white mt-3">
		Experts with <em>30+ years</em> of experience.
	</h3>

	<div class="pt-24">
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-20">
			{% for testimonial in testimonials %}
				<div class="flex items-start gap-6">
					<img
						class="rounded-full hidden sm:block"
						alt="{{ testimonial.name }}"
						src="{{ testimonial.image }}"
						width="80" height="80"
						loading="lazy"
					>
					<div class="flex-1">
						<p class="text-lg text-gray-600 dark:text-gray-200">
							“{{ testimonial.quote }}”
						</p>
						<div class="mt-5 flex items-center sm:flex-col sm:items-start gap-4 dark:text-white">
							<img
								class="rounded-full size-16 sm:hidden"
								alt="{{ testimonial.name }}"
								src="{{ testimonial.image }}"
								width="80" height="80"
								loading="lazy"
							>
							<p class="flex flex-col">
								<span class="text-lg font-bold">{{ testimonial.name }}</span>
								<span class="text-gray-500 dark:text-gray-400 text-base">{{ testimonial.position }}</span>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
