{% set features = [
  {
    image: "/images/pickaday.webp",
    title: "Pickaday",
    link: "https://pickadayapp.com/",
    text: "A web application for creating, sharing, and voting on when to host an event.",
  },
  {
    image: "/images/repeaters.webp",
    title: "Repeaters",
    link: "https://repeaters.mattwaler.com",
    text: "A landing page AND iOS app for recurring task tracking app on the iOS app store.",
  },
  {
    image: "/images/kingscourt.webp",
    title: "Kings Court Landscaping",
    link: "https://kingscourtlandscaping.com/",
    text: "A local landscaping company offering a variety of premium services.",
  },
] %}

  {# {
    image: "/images/cicolator.webp",
    title: "Cicolator",
    link: "https://featherhour.com/cicolator/",
    text: "A landing page AND iOS app for tracking daily calorie intake.",
  }, #}

<section class="bg-gradient-to-t from-gray-100 to-white spacer-py">
  <div class="container">
    <div class="text-balance text-navy  text-center">
      <h2 class="h1">What has Cakewalk built?</h2>
      <h3 class="h4 highlighted mt-3">
        Take a look at our <em>latest</em> and <em>greatest</em>.
      </h3>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mt-12 md:mt-16">
      {% for feature in features %}
        <a href="{{ feature.link }}" target="_blank" class="
          bg-white shadow-xl shadow-gray-200/50
          text-center
          border border-gray-100
          max-w-xl mx-auto
          rounded-lg overflow-hidden
          {{ loop.index % 2 == 0 ? 'md:-rotate-2' : 'md:rotate-2' }}
          transition-transform duration-300 hover:rotate-0
        ">
          <img src="{{ feature.image }}" alt="" class="w-full object-cover">
          <div class="p-8">
            <h3 class="h4">
              {{ feature.title }}
            </h3>
            <p class="
              mt-1
              md:text-lg text-balance
              text-gray-500
              [&_strong]:text-gray-700 [&_strong]:
              [&_a]:underline [&_a]:text-gray-700 [&_a]: [&_a]:font-bold
            ">
              {{ feature.text }}
            </p>
          </div>
          <div class="text-center flex flex-col">
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
